{% include 'email/layout/header.html.twig' %}

{% if email_id is defined %}
    <img src="http://localhost:8000{{ path('tracking_pixel', {'email_id': email_id}) }}" alt="" style="width: 1px; height: 1px; display: none;">
{% endif %}
<div>
    <h3> Hey ! {{ username }}</h3>
    <p>{{ body }}</p>
</div>
<div style="display: flex; width: 100%; justify-content: center;">
    <a href="https://arkada.studio/fr/accueil/">
        Accéder au site Arkada
    </a>
</div>

<style>
    a {
        padding: .5rem 1rem;
        background: linear-gradient(70deg, #B25E1E, #DF972C);
        color: black;
        border-radius: 10px;
        font-weight: bold;
        transition: all .3s;
        text-decoration: none;
        border: 2px solid #232225;
    }

    a:hover {
        background: transparent;
        border: 2px solid #B25E1E;
        color: #B25E1E;
    }
</style>

{% include 'email/layout/footer.html.twig' %}