{% extends 'base.html.twig' %}

{% block title %}Hello Email!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <img src="http://localhost:8000{{ path('tracking_pixel', {'email_id': email_id}) }}" alt="" style="width: 1px; height: 1px; display: none;">
        <h1 style="color: green">Hello {{ username }}!✅</h1>
        <div>
            {% if body is not empty %}
                <p>{{ body }}</p>
            {% else %}
                <p>Aucun contenu trouvé</p>
            {% endif %}
        </div>
        {{ email_id }}
    </div>
{% endblock %}